.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.upload-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
}

.btn-primary {
    background-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.image-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: calc(33.333% - 10px);
    height: 250px;
    overflow: hidden;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;

}

.image-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 20px;
}

/* タブレット・スマートフォン用のレスポンシブデザイン */
@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    .upload-form {
        padding: 15px;
    }

    .image-card {
        width: calc(30% - 10px);

    }

    .button-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .btn {
        width: 100%;
        text-align: center;
    }

    .image-card {
        height: auto;

    }
}