.container {
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.btn-secondary {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    background-color: #6c757d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
    margin-bottom: 20px;
}

.btn-secondary:hover {
    background-color: #5a6268;
}

.text-right {
    text-align: right;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table thead {
    background-color: #f8f9fa;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #dee2e6;
}

.table th {
    font-weight: bold;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody tr:hover {
    background-color: #e9ecef;
}

.table-container {
    overflow-x: auto;
}