.menu-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    height: 30px;
    width: 30px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #007bff;
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

.menu-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    z-index: 80;
    background-color: #edecec;
    transition: all 0.5s;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    list-style: none;
}

.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 20px;
    color: blue;
    text-decoration: none;
    padding: 9px 15px;
    text-align: center;
}

.menu-content ul li a::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

#menu-btn-check:checked~.menu-content {
    left: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: #edecec;
    padding: 10px 0;
}

.header__logo {
    font-size: 30px;
    font-family: fantasy;
    color: #007bff;
    margin-left: 45px;
    margin-top: 0;
}

.nav__item {
    font-size: 2.8rem;
    text-align: center;
    padding-bottom: 12px;
    display: block;
}

.nav__item:hover {
    opacity: 0.8;
}

.nav__item-link {
    color: rgb(63, 90, 242);
    text-decoration: none;
    font-weight: bold;
}

.nav__item-link-form {
    display: inline;
    margin: 0;
    padding: 0;
}

.nav__item-link {
    background: none;
    border: none;
    color: rgb(63, 90, 242);
    text-decoration: none;
    font-weight: bold;
    padding: 0;
    cursor: pointer;
}

.nav__item-link:hover {
    opacity: 0.8;
}

.menu-content ul {
    padding: 70px 10px 0;
}

.menu-content ul li {
    list-style: none;
}

.menu-content ul li a,
.menu-content ul li button {
    display: block;
    width: 100%;
    font-size: 20px;
    color: rgb(63, 90, 242);
    text-decoration: none;
    padding: 9px 15px;
    text-align: center;
}

.menu-content ul li a::before,
.menu-content ul li button::before {
    content: "";
    width: 7px;
    height: 7px;
    border-top: solid 2px #ffffff;
    border-right: solid 2px #ffffff;
    transform: rotate(45deg);
    position: absolute;
    right: 11px;
    top: 16px;
}

@media screen and (max-width: 768px) {
    .menu-btn {
        top: 5px;
        left: 5px;
        height: 25px;
        width: 25px;
    }

    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        height: 2px;
        width: 20px;
    }

    .menu-content ul {
        padding: 50px 5px 0;
    }

    .menu-content ul li a {
        font-size: 18px;
        padding: 8px 10px;
    }

    .header__logo {
        font-size: 24px;
        margin-left: 10px;
    }

    .nav__item {
        font-size: 2rem;
        padding-bottom: 8px;
    }

    .menu-content ul li a::before,
    .menu-content ul li button::before {
        width: 5px;
        height: 5px;
        right: 8px;
        top: 14px;
    }
}
