

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f8f9fa;
    padding: 0 20px;
}

.reservation-container {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    min-width: 600px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 630px;
}

.reservation-container h3 {
    margin-bottom: 20px;
    font-size: 24px;
}

.reservation-container .form-label {
    color: white;
}

.reservation-container input[type="date"] {
    margin-bottom: 15px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.reservation-container input:not([type="date"]),
.reservation-container select {
    margin-bottom: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
}

.btn-container {
    margin-top: auto;
    /* ボタンを下に移動 */
    text-align: center;
}

.reservation-container .btn {
    background-color: hsl(231, 100%, 49%);
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    color: white;
    font-size: 15px;
    margin-top: 150px;
}

.reservation-container .btn:hover {
    background-color: #0131f3;
}

#reservation-details {
    margin-top: 1px;
    background-color: #00bfff;
    color: white;
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 450px;
    box-sizing: border-box;
    text-align: left;

}

#reservation-details p {
    margin-bottom: 10px;
    font-size: 16px;
    color: white;
}


.reservation-details {
    margin-top: 20px;
    background-color: white;
    color: black;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.restaurant-details {
    flex: 1;
    max-width: 600px;
    margin-right: 20px;
}

.restaurant-details .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card__imgframe {
    width: 100%;
    height: auto;
}

.card__textbox {
    padding: 15px;
}

.card__titletext {
    font-size: 1.5rem;
    font-weight: bold;
}

.card__overviewtext p {
    margin: 0;
    padding: 5px 0;
}

@media screen and (max-width: 768px){
    main {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f8f9fa;
            padding: 0 20px;
        }
    
        .reservation-container {
            background-color: #007bff;
            color: white;
            padding: 10px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 100%;
            max-width: 600px;
            min-width: 600px;
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            height: 630px;
        }
    
        .reservation-container h3 {
            margin-bottom: 20px;
            font-size: 24px;
        }
    
        .reservation-container .form-label {
            color: white;
        }
    
        .reservation-container input[type="date"] {
            margin-bottom: 15px;
            width: 150px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-sizing: border-box;
        }
    
        .reservation-container input:not([type="date"]),
        .reservation-container select {
            margin-bottom: 15px;
            width: 200px;
            padding: 10px;
            border-radius: 5px;
            border: none;
            box-sizing: border-box;
        }
    
        .btn-container {
            margin-top: auto;
            /* ボタンを下に移動 */
            text-align: center;
        }
    
        .reservation-container .btn {
            background-color: hsl(231, 100%, 49%);
            border: none;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            color: white;
            font-size: 15px;
            margin-top: 150px;
        }
    
        .reservation-container .btn:hover {
            background-color: #0131f3;
        }
    
        #reservation-details {
            margin-top: 1px;
            background-color: #00bfff;
            color: white;
            padding: 1px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 450px;
            box-sizing: border-box;
            text-align: left;
    
        }
    
        #reservation-details p {
            margin-bottom: 10px;
            font-size: 16px;
            color: white;
        }
    
    
        .reservation-details {
            margin-top: 20px;
            background-color: white;
            color: black;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
    
        .restaurant-details {
            flex: 1;
            max-width: 600px;
            margin-right: 20px;
        }
    
        .restaurant-details .card {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }
    
        .card__imgframe {
            width: 100%;
            height: auto;
        }
    
        .card__textbox {
            padding: 15px;
        }
    
        .card__titletext {
            font-size: 1.5rem;
            font-weight: bold;
        }
    
        .card__overviewtext p {
            margin: 0;
            padding: 5px 0;
        }
}
