body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contact-form__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.contact-form__content {
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.back-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: darkblue;
}

@media screen and (max-width: 768px) {
    body,
    html {
         margin: 0;
        padding: 0;
        height: 100%;
    }
    
    .contact-form__main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f0f0f0;
    }
    
    .contact-form__content {
        border: 2px solid #fff;
        padding: 20px;
        border-radius: 8px;
        background-color: #fff;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        width: 300px;
    }
    
    .back-button {
        background-color: blue;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
    }
    
    .back-button:hover {
         background-color: darkblue;
    }
}