body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.contact-form__main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 0 20px;

}

.contact-form__content {
    border: 2px solid #fff;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;

}

.back-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.back-button:hover {
    background-color: darkblue;
}

/* タブレット・スマートフォン用のレスポンシブデザイン */
@media (max-width: 768px) {
    .contact-form__content {
        width: 100%;
        padding: 15px;
    }

    .back-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}