body {
    background-color: #fff;
}

main {
    margin-top: 100px;
}

.auth__wrap {
    margin: auto;
    max-width: 350px;
    width: 95%;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
    background-color: #fff;
}

.auth__header {
    background-color: rgb(63, 90, 242);
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 1.6rem;
    padding: 15px;
}

.form__item {
    padding: 30px 30px 20px 30px;
}

.form__input-item {
    display: inline-block;
    width: 85%;
    font-size: 0.85rem;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
}

.iconUser,
.iconEmail,
.iconPassword {
    width: 100%;
    margin-bottom: 5px;
}

.error__item {
    margin-bottom: 15px;
    color: red;
    font-size: 1.4rem;
    margin-left: 38px;
}

.iconUser::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/user_icon.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    vertical-align: bottom;
}

.iconEmail::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/mail_icon.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    vertical-align: bottom;
}

.iconPassword::before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    background: url(../img/カギアイコン.png) no-repeat;
    background-size: contain;
    margin-right: 8px;
    vertical-align: bottom;
}

.form__item-button {
    margin-left: auto;
    display: block;
    background-color: rgb(63, 90, 242);
    border: 1px solid rgb(63, 90, 242);
    border-radius: 5px;
    color: #fff;
    padding: 3px 10px;
    cursor: pointer;
}

.form__item-button:hover {
    opacity: 0.8;
}

/* タブレット・スマートフォン用のレスポンシブデザイン */
@media (max-width: 768px) {

    .auth__wrap {
        max-width: 50%;
        padding: 15px;
        box-shadow: 2px 2px 5px gray;
        border: 1px solid #ddd;
        margin: 0 auto;
    }

    .auth__header {
        font-size: 1.4rem;
        padding: 12px;

    }

    .form__item {
        padding: 15px;
        border: 1px solid #ddd;
        border-radius: 8px;
    }

    .form__input-item {
        width: calc(100% - 20px);
        font-size: 0.75rem;
    }

    .error__item {
        font-size: 1rem;
        margin-left: 0;
    }

    .form__item-button {
        padding: 8px 15px;
        font-size: 0.8rem;
    }

    body {
        margin: 0;
        margin-left: 5px;
    }

    main {
        padding: 0 10px;
    }
}